body {
	width: 100%;
	font-style: sans-serif;
	vertical-align: center;
	font-family: 'Raleway', sans-serif;
}

#nav-bar {
	position: fixed;
	top: 0;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 70px;
	padding: 10px 15px 0 10px;
	background-color: white;
}

.logo {
	width: 60vw;
	display: flex;
}

.logo img {
	width: 100%;
	max-width: 40px;
	max-height: 40px;
	grid-column: 1 / 2;
}

.logo p {
	font-size: 1.8em;
	margin-top: 5px;
	font-weight: 200;
	color:  #d99f0d;
}

#links {
	grid-column: 2 / 4;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#links a {
	text-decoration: none;
	color: black;
}

#links a:hover {
	color: orange;
}

li {
	cursor: pointer;
}

#header {
	margin: 60px auto 0 auto ;
	display: flex;
	flex-direction: column;
}

#title {
	text-align: center;
	grid-row: 1 / 2;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
}

#form {
	text-align: center;
	grid-row: 2 / 3;
}

#email {
	max-width: 300px;
	width: 100%;
	padding: 7px;
}

#submit {
	margin: 15px 0 15px 0;
	padding: 10px;
	border: none;
	background-color: #009900;
	cursor: pointer;
	color: white;
	border-radius: 4px;
}

main {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto 0 auto;
}

#content {
	display: grid;
	grid-template-columns: .5fr 4fr;
	grid-column-gap: 70px;
	margin: 60px auto 0 auto;
}

.icon {
	grid-column: 1 / 2;
	align-self: center;
	justify-self: end;
	font-size: 2.5em;
	color: orange;
	padding-right: 20px;
}

.desc {
	grid-column: 2 / 3;
	margin-top: 0;
}

.desc h2 {
	margin-bottom: 0;
	font-weight: 400px;
}

.desc p {
	margin-top: 0;
}

#video {
	text-align: center;
	margin: 60px auto 30px auto;
}

#products {
	display: flex;
	flex-direction: row ;
	justify-content: center;
	width: 100%;
	margin: 50px 0 50px 0;
}

.unit {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(100% / 3);
	border: 1px solid black;
	border-radius: 3px;
	text-align: center;
	margin: 10px;
}

#instrument {
	font-family: 'Poppins', sans-serif;
	background-color: #ddd;
	width: 100%;
	padding: 15px 0 15px 0;
	margin-top: 0;
}

ul {
	list-style: none;
	padding-left: 0;
}

#price {
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;
}

#select {
	padding: 10px 25px 10px 25px;
	background-color: orange;
	margin-top: 10px;
	font-size: 1em;
}

footer {
	background-color: #ddd;
	width: 100%;
}

.foot-links {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 20px;
}

footer a {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 0.9em;
	text-decoration: none;
	color: black;
	padding-right: 20px;
	font-weight: bold;
}

.copy {
	font-family: 'Poppins', sans-serif;
	font-size: 0.8em;
	color: #444;
	display: flex;
	justify-content: flex-end;
	padding: 0 15px 15px 0;
	margin-top: 10px;
}

@media (max-width: 800px) {

	#products {
		flex-direction: column;
		align-items: center;
	}

	#instrument {
		font-size: 1rem;
	}

	.unit {
		max-width: 300px;
		width: 100%;
	}

	.icon {
		justify-self: center;
	}

	#content {
		display: grid;
		grid-template-columns: 1fr 4fr;
		grid-column-gap: 10px;
		margin: 50px auto 0 auto;
	}

}

@media (max-width: 600px) {

	#title h2 {
		font-size: 1.2em;
	}

	.icon {
		display: none;
	}

	#content {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.desc h2 {
		margin-bottom: 10px;
	}



}
